@use "@styles/util";

.operations {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
}

.xy-input {
    display: flex;
    input {
        width: 4rem;

        font-weight: bold;

        &:focus {
            outline: none;
        }
    }

    button {
        appearance: none;
        border: none;
        background-color: transparent;
    }
}