.train-err {
    color: white;
    padding: 0.5rem;
    background-color: var(--failure-light);
    border-left: solid 0.5rem var(--failure-dark);
}

.chart-container {
    overflow: hidden;
}

.hyper-slider {
    width: 100%;
    color: white;
    flex-direction: column;
    margin-bottom: 0.25rem;
    padding: 0 1rem;
    box-sizing: border-box;

    &__title__value {
        display: flex;
        justify-content: space-between;
    }

    input {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
}