.exp-item {
    img {
        width: 2rem; 
        height: 2rem;
        margin-right: 0.5rem;
    }
    .exp-job-info {
        color: var(--light-grey);
        display: flex;
        align-items: center;

        .title {
            margin-bottom: 0;
        }

        .start-and-end {
            font-weight: 300;
            font-size: 0.75rem;
            color: var(--subheading-grey);
        }
    }
}