@use "@styles/util/mq";
@use "@styles/util/shadow";

$shadow-container-padding: 0.25rem;

.experience {
    width: 100%;
    &-shadow {
        padding: 0 $shadow-container-padding $shadow-container-padding 0;
        background: var(--gradient-block);
        border-radius: 0.5rem 0 1rem 0;
    }

    &-list {
        background-color: var(--grey);
        border-radius: 0.25rem 0 0.75rem 0;
        padding: 1rem;
    }
}

.exp-item {
    margin-bottom: 1rem;
    
    h3 {
        color: white;
        margin-bottom: 0.5rem;
    }

    img {
        width: 2rem; 
        height: 2rem;
        margin-right: 0.5rem;
    }
    
    .exp-item-heading {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .exp-technologies a {
        margin-right: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }

    .exp-job-info {
        color: var(--smoke);
        display: flex;
        align-items: center;

        .title {
            margin-bottom: 0;
        }
        
        .company {
            font-weight: 300;
            font-size: 0.875rem;
            color: var(--subheading-grey);
        }
    }

    .exp-timeframe {
        font-weight: 300;
        font-size: 0.75rem;
        color: var(--subheading-grey);
    }
    

    .exp-libs {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            @include shadow.drop-shadow();

            width: fit-content;
            display: flex;
            text-decoration: none;
            border-radius: 0.25rem;
            overflow: hidden;
            color: var(--smoke);
            font-size: 0.875rem;
            font-weight: 700;
            .description {
                margin: 0;
                padding: 0.125rem 0.5rem;
                background-color: var(--light-grey);
            }
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}