@use "@styles/util/mq";
@use "@styles/util/shadow";

$shadow-container-padding: 0.25rem;

.experience {
    &-shadow {
        padding: 0 $shadow-container-padding $shadow-container-padding 0;
        background: var(--gradient-block);
        border-radius: 0.5rem 0 1rem 0;
    }

    &-list {
        background-color: var(--grey);
        border-radius: 0.25rem 0 0.75rem 0;
        padding: 1rem;
    }
}

.exp-item {
    margin-bottom: 1rem;
    
    h3 {
        color: white;
        margin-bottom: 0.5rem;
    }

    img {
        width: 2rem; 
        height: 2rem;
        margin-right: 0.5rem;
    }
    
    .exp-item-heading {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .exp-technologies a {
        margin-right: 0.5rem;
        &:last-child {
            margin-right: 0;
        }
    }

    .exp-job-info {
        color: var(--smoke);
        display: flex;
        align-items: center;

        .title {
            margin-bottom: 0;
        }

        .start-and-end {
            font-weight: 300;
            font-size: 0.75rem;
            color: var(--subheading-grey);
        }
    }

    .exp-bullets {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .content {
            list-style: none;
            color: var(--smoke);
            font-size: 0.875rem;

            .icon {
                display: inline;
                float: left;
                margin-right: 0.25rem;
                vertical-align: middle;
            }

            a {
                width: fit-content;
                display: flex;
                text-decoration: none;
                border-radius: 0.25rem;
                overflow: hidden;
                color: var(--smoke);
                font-weight: 700;
                font-size: 0.75rem;
                @include shadow.drop-shadow();
                .description {
                    margin: 0;
                    padding: 0.125rem 0.25rem;
                    background-color: var(--light-grey);
                }
            }

            .libraries {
                margin-top: 0.5rem;
            }
        }

    }
}