// @use "util/mq" with ($show-breakpoints: ('xs', 'sm', 'md', 'lg'));
@use "util/colors";

@use "chrome/homepage";

@use "components/title-card";
@use "components/svgs";
@use "components/navlink";
@use "components/experience";
@use "components/footer";

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

html, body, #root {
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
  }