@use "./reset.scss";

@use "util/mq" with ($show-breakpoints: ('xs', 'sm', 'md', 'lg'));
@use "util/colors";

@use "chrome/homepage";

@use "components/title-card";
@use "components/svgs";
@use "components/navlink";
@use "components/experience";
@use "components/ramblings";
@use "components/footer";

html {
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  @include mq.mq($from: md) {
    font-size: 16px;
  }

}

body {
  margin: 0;
}