$numLines: 1, 2, 3;

@mixin clamp($numLines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: $numLines;
    -webkit-line-clamp: $numLines;
    overflow: hidden;
}

@each $line in $numLines {
    .clamp-#{$line} {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: $line;
        -webkit-line-clamp: $line;
        overflow: hidden;
    }
}