:root {
    --white: #FFF;
    --black-grey: #1d1d1d;
    --light-grey: #efefef;
    --gradient-color-1: #E76F51;
    --gradient-color-2: #F4A261;
    --gradient-color-3: #E9C46A;
    --gradient-color-4: #2A9D8F;
}